<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>message-form</title>
  </head>
  <body>
    <form method="/post" action="/message">
      <input type="text" placeholder="author name" name="author" /><br />
      <input type="text" placeholder="message" name="message" /><br />
      <button type="submit">Send Message</button>
    </form>
  </body>
</html>


